<h3>Line Chart</h3>
<%= line_chart Expense.group_by_week(:date).sum(:amount), prefix: "$", thousands: "." %>
<br><hr><br>
<h3>Column Chart</h3>
<%= column_chart @column_data, stacked: true, prefix: "$", thousands: "." %>
<br><hr><br>
<h3>Pie Chart</h3>
<%= pie_chart Expense.group(:type).sum(:amount), prefix: "$", thousands: "." %>

<br><hr><br>

<h3>Data Table</h3>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <% @expenses.each do |e| %>
            <tr>
                <td><%= e.date %></td>
                <td><%= e.description %></td>
                <td><%= e.type %></td>
                <td><%= e.amount %></td>
            </tr>
        <% end %>
    </tbody>
</table>